a:hover {
  color: #ff0000;
  text-decoration: underline;
}
nav {
  padding: 0.25em 0 0 0;
  border-bottom: 2px solid black;
}
#navGlob {
  text-align: center;
}
#navGlob span {
  font-family: Helvetica, sans;
  display: inline-block;
  line-height: 33px;
  padding: 0;
  height: auto;
  margin-bottom: 0.2em;
  font-size: 0.9em;
  margin: 0 1em;
}
ul#navApp {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#navApp li {
  font-family: Helvetica, sans;
  display: block;
  width: 83px;
  text-align: center;
  line-height: 1.2;
  padding: 0;
  height: auto;
  margin-bottom: 0.2em;
  font-size: 10px;
}
#navApp li img {
  width: 45px;
  margin-bottom: 3px;
}
#navApp li.web {
  width: 119px;
  display: flex;
  align-items: center;
}
#navApp li.web img {
  width: 100%;
}
#navApp li a {
  display: block;
  color: black;
}
#navApp li a:hover {
  background-color: #ffffff;
  color: red;
}
#masthead {
  color: #19156d;
  letter-spacing: -1px;
  font-size: 150%;
  font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
}
#masthead a {
  color: #19156d;
}
#masthead a:hover {
  color: #ff0000;
}
#home {
  display: inline-block;
  float: right;
  text-align: right;
  background-color: red;
}
footer {
  border-top: 2px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  color: gray;
  text-align: center;
  font-size: 80%;
}
@media (max-width: 700px) {
  #navApp {
    display: none;
  }
}
@media (min-width: 700px) {
  #navApp {
    display: block;
  }
  #navGlob #menuToggle {
    display: none;
  }
  #masthead {
    font-size: 200%;
  }
  #navGlob span {
    line-height: 40px;
  }
  #navApp li img {
    width: 45px;
  }
}
div.ttol {
  background: url('/gfx/tiki4_bg_pattern.jpg');
}
.boxshadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
article div.row {
  font-family: Optima, sans-serif;
  background: #white;
  text-align: center;
}
h1,
h2 {
  font-family: Optima, sans-serif;
}
.dingbat {
  max-width: 160px;
  margin: 1em 0;
}
#logotype {
  max-width: 300px;
}
#icon {
  max-width: 100px;
}
#appmasthead {
  padding-top: 1em;
  padding-bottom: 2em;
}
section.text {
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}
section.center {
  margin: 0 auto;
  text-align: center;
}
video {
  width: 95%;
}
.dropphoto {
  width: 100px;
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0;
}
.appversions {
  text-align: center;
  font-size: 90%;
}
section.quotes {
  max-width: 600px;
  margin: 1em auto;
}
section.quotes p {
  font-style: italic;
  text-align: left;
}
h2 {
  margin-top: 1em;
}
.subsection {
  text-align: left;
}
.jackets {
  text-align: center;
}
.jackets img {
  max-width: 40%;
  margin: 9px;
  max-height: 250px;
}
@media (min-width: 700px) {
  #logotype {
    max-width: 430px;
  }
  section.text p,
  section.text li,
  section.quotes p {
    font-size: 120%;
  }
  video {
    width: 90%;
  }
  figure {
    margin-left: 3em;
    margin-right: 3em;
  }
}
