
@mastheadColor: rgb(25,21,109);
@linkHoverColor: rgb(255,0,0);
@hoverBackgroundColor: rgb(255,255,255);

a:hover {
	color: @linkHoverColor;
	text-decoration: underline;
}

nav {
	padding:0.25em 0 0 0;
	border-bottom: 2px solid black;
}

#navGlob {
	text-align: center;
}

#navGlob span {
	font-family: Helvetica, sans;
	display: inline-block;
	line-height: 33px;
	padding:0;
	height: auto;
	margin-bottom: 0.2em;
	font-size: 0.9em;
	margin: 0 1em;
}


#navApp {
	margin-left:0;
	margin-bottom:0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

#navApp li {
	font-family: Helvetica, sans;
	display: inline-block;
	width: 117px;
	text-align: center;
	line-height: 1.2;
	padding:0;
	height: auto;
	margin-bottom: 0.2em;
	font-size: 14px;
}

#navApp li img {
	width: 54px;
	margin-bottom: 3px;
}

#navApp li a {
	display:block;
	color: black;
}

#navApp li a:hover {
	background-color: @hoverBackgroundColor;
	color: red;
}

#masthead {
	color: @mastheadColor;
	letter-spacing: -1px;
	font-size: 175%;
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
}

#masthead a {
	color: @mastheadColor;
}

#masthead a:hover {
	color: @linkHoverColor;
}

#home {
	display: inline-block;
	float:right;
	text-align:right;
	background-color: red;
}

footer {
	border-top: 2px solid black;
	padding-top: 1em;
	padding-bottom: 1em;
	color: gray;
	text-align: center;
	font-size: 80%;
}

@media (max-width: 700px) {
	#navApp {
		display: none;
	}
}

@media (min-width: 700px) {

	#navApp {
		display: block;
	}

	#navGlob #menuToggle { display: none; }

	#masthead {
		font-size: 250%;
	}

	#navGlob span {
		line-height: 40px;
	}

	#navApp li img {
		width: 72px;
	}


}