
@import "global.less";

@homeBackgroundColor: #fff;

figure {
	margin-left:0;
	margin-right:0;
	background-color: @homeBackgroundColor;
	padding: 2em;
	border: 3px double black;
}

article {
	color: #000;
	font-family: "Helvetica Neue", Helvetica, sans;
	line-height: 1.4;
	font-size: 90%;
}

article div.row {
	background: @homeBackgroundColor;
	//background: url("../gfx/bkgd.mixologytech.jpg");
	//border-right: 2px solid black;
	//border-left: 2px solid black;
}

article a {
	color: darken(#e26f50,10%);
	font-weight: bold;
}

section.text {
	margin:0 auto;
	max-width: 600px;
	text-align: left;
}

section.center {
	margin:0 auto;
	text-align: center;	
}

.appRack {
	margin-left:0;
	margin-bottom:0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.appRack li, .appiconleft {
	font-family: Helvetica, sans;
	display: inline-block;
	width: 117px;
	text-align: center;
	line-height: 1.2;
	padding:0;
	height: auto;
	margin-bottom: 0.2em;
	font-size: 14px;
}

.appRack li img, .appiconleft img{
	width: 54px;
	margin-bottom: 4px;
}

.appRack li a,  .appiconleft a {
	display:block;
	color: black;
	font-weight: normal;
}

.appRack li a:hover,  .appiconleft a:hover {
	color: red;
}

h2 {
	margin:2em 0 2em 0;
	font-size: 180%;
	font-weight: 200;
	color: #000;
	clear:both;
	text-align: center;
}

.appiconleft {
	display: block;
	float: left;
	margin: 0 1em 0 0;

	img {
		width: 128px;
	}

}

.tabular {
	
	padding-left: 140px;
	display: block;
	margin-bottom: 2em;
	min-height: 140px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#syncgrid { 
	position: relative;
	margin: 1em 0;

	#syncgridtop {
		position: absolute;
		top:0;
		left:0;
	}
}


@media (min-width: 700px) {

	section.text p {
		font-size: 120%;
	}

	figure {
		margin-left: 3em;
		margin-right: 3em;
	}

	.appRack li img {
		width: 72px;
	}

	.appiconleft {

		img {
			width: 128px;
		}

	}



}
