
body {
    font-family: Marion,"adobe-caslon-pro",serif;
    text-align:center;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 1.4;
}

#icon {
    max-width:100px;
    width: 70%;
    height:auto;
    margin: 18px auto;
}

#logotype {
    max-width:275px;
    width: 70%;
    height:auto;
    margin: 18px auto;
}

#product_info {
    margin: 18px auto;   
}

#blurb {
    margin: 18px auto;
    width: 90%;
    max-width: 600px;
    text-align: left;
    padding: 1em;
}

.dingbat {
    max-height: 11px;
    width: auto;
    margin: 18px 0;
}

footer {
    margin:0 0 18px 0;
    padding-bottom: 18px;
}