
body {
    font-family: Marion,"adobe-caslon-pro",serif;
    text-align:center;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 1.4;
}

a {
    color: #d7633e;
    text-decoration: underline;
}

a:hover, li a:hover, p a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: #d7633e;
    text-decoration: underline;
}

figure {
    margin-top:9px;
}

figure img {
    width: 100%;
}

#icon {
    max-width:100px;
    width: 70%;
    height:auto;
    margin: 18px auto;
}

#logotype {
    max-width:275px;
    width: 70%;
    height:auto;
    margin: 18px auto;
}

#product_info {
    margin: 18px auto;   
}

#blurb {
    margin: 18px auto;
    width: 90%;
    max-width: 600px;
    text-align: left;
    padding: 1em;
}

.dingbat {
    max-height: 11px;
    width: auto;
    margin: 18px 0;
}

footer {
    margin:0 0 18px 0;
    padding-bottom: 18px;
}

#video_poster {
    width: 90%;
    height: auto;
}

@media only screen and (max-width: 1024px) {

    #video_poster {
        width: 640px;
        height: 360px;
    }

}

@media only screen and (max-width: 768px) {

    #video_poster {
        width: 640px;
        height: 360px;
    }

}

@media only screen and (max-width: 568px) {

    #video_poster {
        width: 304px;
        height: 171px;
    }

}


