@import url("../js/polymaps/lib/colorbrewer/colorbrewer.css");
header {
  padding-top: 9px;
}
#masthead {
  min-height: 120px;
}
#adbox {
  min-height: 99px;
}
header .app {
  width: 63px;
  float: right;
  text-align: center;
  margin-right: 18px;
  line-height: 13px;
}
#dbicon {
  height: 108px;
  float: left;
  margin-right: 18px;
}
.app img {
  width: 63px;
  margin-bottom: 2px;
}
#photos img {
  max-width: 300px;
  max-height: 300px;
}
#resetsearch {
  position: relative;
  left: -22px;
  top: 2px;
}
#resetsearch {
  opacity: 0.5;
}
footer {
  margin-top: 36px;
  border-top: 1px solid #d4d4d4;
  padding-top: 9px;
}
#searchResults .context,
#searchResultsFull .context {
  color: #aaa;
}
@media (max-width: 480px) {
  #searchField {
    width: 140px;
  }
}
#closingMetadata {
  text-align: right;
}
#map {
  background: #ddd;
  height: 300px;
}
#map.specialregion {
  fill: #00ff00;
}
.layer path {
  fill: #fff;
  fill-opacity: 1.00;
  stroke: #ccc;
  stroke-width: 0.1;
}
#topphotos {
  height: 190px;
  overflow: hidden;
}
#topphotos img {
  display: inline-block;
  height: 180px;
  margin-right: 9px;
  margin-bottom: 9px;
}
