header {
  padding-top: 9px;
}
#masthead {
  min-height: 120px;
}
#adbox {
  min-height: 99px;
}
header .app {
  width: 63px;
  float: right;
  text-align: center;
  margin-right: 18px;
  line-height: 13px;
}
#dbicon {
  height: 108px;
  float: left;
  margin-right: 18px;
}
.app img {
  width: 63px;
  margin-bottom: 2px;
}
#photos img {
  max-width: 300px;
  max-height: 300px;
}
#resetsearch {
  position: relative;
  left: -22px;
  top: 2px;
}
#resetsearch {
  opacity: 0.5;
}
footer {
  margin-top: 36px;
  border-top: 1px solid #d4d4d4;
  padding-top: 9px;
}
#searchResults .context,
#searchResultsFull .context {
  color: #aaa;
}
@media (max-width: 480px) {
  #searchField {
    width: 140px;
  }
}
#closingMetadata {
  text-align: right;
}
#map {
  max-height: 570px;
  overflow: hidden;
}
#map rect {
  fill: #eee;
}
#map .feature {
  fill: #ddd;
  cursor: pointer;
  stroke: none;
}
#map .mesh {
  fill: none;
  stroke: #000;
  stroke-width: .25px;
  stroke-linejoin: round;
}
#map .feature.glow {
  fill: orange;
}
#map .country-label {
  font-size: 20px;
  font-style: italic;
  fill: #f00;
  opacity: 0.4;
  text-transform: uppercase;
}
#map .region {
  stroke: #bbb;
  stroke-width: 2px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
  fill: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#map .region.glow {
  stroke: yellow;
  fill: rgba(255, 255, 0, 0.4);
}
#map .region-label {
  font-size: 14px;
  fill: black;
  opacity: 1;
}
#map .tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.polaroid {
  position: relative;
  display: block;
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  height: 240px;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
.polaroid img {
  max-height: 232px;
  max-width: 172px;
}
.polaroid p {
  position: absolute;
  text-align: center;
  height: 34px;
  padding-top: 4px;
  left: 4px;
  right: 4px;
  bottom: -9px;
  line-height: 14px;
  overflow: hidden;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.66) 0%, #ffffff 66%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.66)), color-stop(66%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.66) 0%, #ffffff 66%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.66) 0%, #ffffff 66%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.66) 0%, #ffffff 66%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.66) 0%, #ffffff 66%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

}
#morepics {
  position: relative;
  display: block;
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  height: 240px;
  width: 90px;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}
