
@import "style.less";

#closingMetadata {
	text-align:right;
}



// MAP STUFF

@import url("../js/polymaps/lib/colorbrewer/colorbrewer.css");


#map {
  background: #ddd;
  height: 300px;

}

//.compass .fore, .compass .chevron {
//  stroke: #666;
//}

.layer path {
  fill: #fff;
  fill-opacity: 1.00;
  stroke: #ccc;
  stroke-width:0.1;
}

//#copy, #copy a {
//  color: #aaa;
//}

//#topphotos {
//  height: 190px;
//	overflow: hidden;
//}

//#topphotos img {
//  display: inline-block;
//  height: 180px;
//  margin-right: 9px;
//  margin-bottom: 9px;
//}

.thumbnail p {
  text-align: center;
}