@import "DGLY-h5bp-top.less";

#container {
	width:980px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding: 0;
	background-color: #f5f4f0;
}

header {
	/*border-bottom: 2px solid green;*/
	margin-bottom: 18px;
	height: 108px;
	padding: 18px 18px 0 18px;
}

footer {
	background-color: #e5e4e0;
	clear:both;
	padding: 9px 18px;
}

#treeContainer {
	float:right;
	width: 604px;
	position:relative;
	margin-bottom: 18px;
}


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-color: #e5e4e0;
}

h3 {
	line-height: 18px;
	margin-top: 18px;
	margin-bottom: 0px;
}

ul {
	margin-top:0;
	margin-bottom:0;
	list-style: none;
}

li {
	margin-top:9px;
}



nav ul ul {
	margin-left: 18px;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}




.lastupdated {
	text-align:right;
	color: #ddd;
}

#dbicon {
	height: 100px;
	float: left;
	margin-right: 18px;
}

#apps {
	border: 2px solid #f5f4f0;
	float:right;
	width: 450px;
	padding: 6px;
	text-align: right;
	background-color: white;
}

#apps .app {
	float: right;
	width: 100px;
	text-align: center;
}

#mybaricon {
	height: 63px;
}

#baringredientsicon {
	height: 63px;
}

header p {
	font-size: 125%;
	padding-top: 18px;
}

.empty {
	color: #524630;
}

nav {
	padding: 3px 18px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #c5c4c0;
}


#searchForm {
	position: relative;
	width: 600px;
}

#searchField {
	width: 250px;
}

#searchResults {
	display: none;
	position: absolute;
	list-style-type: none;
	margin: 0;
	top:27px;
	padding: 1em;
	width: 600px;
	background-color: #f5f4f0;
	-webkit-box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, .2);
    box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, .2);
	z-index: 99;
	border: 1px solid #d5d4d0;
	border-radius: 3px;
}

.el {
	background:none;
	position:absolute;
	border-left: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	border-bottom-left-radius: 9px;
}

@import "DGLY-h5bp-bottom.less";