:where(section) {
    margin-block: var(--section-spacing);
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


.flow > * + *, .panel > * + * {
	margin-top: var(--flow-spacing, 1em);
}

main, footer .container {
    /* may want to implement a better wrapper rather than sticking this stuff on body */
    max-width: min(100% - 1rem, 960px);
    margin-inline: auto;
    padding-block: 4ch;

    color: black; // basically nuking dark mode here
}

@media (width < 480px) {
    main {
        max-width: 100%;
        width: 100%;
    }
}

// this sets images inside paragraphs to inline block
p > img {
    display: inline-block;
}

.center {
    text-align: center;
}
.jacket {
    max-height: 30ch;
}
footer {

    background-image: var(--footer-background);
    margin-top: 4ch;
    padding-top: var(--panel-padding);

    .container {
        color: white;  // basically nuking dark mode here
    }

    a, a:visited {color: var(--indigo-3);}

    svg {
        max-width: 320px;
        width: 100%;
        height: auto;
    }

    // h3,h4 { color: white; }


    .grid {
        margin-block: var(--flow-spacing);

        @media screen and (min-width: 480px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        h4 { margin-top: var(--panel-padding);}


        ul {
            padding: 0;
            li {
                padding: 0;
                font-size: var(--font-size-1);
                list-style: none;
                margin-block: var(--flow-spacing);

            }
        }

    }
}
[data-theme="dark"] {
    footer {
        padding: var(--panel-padding);
    }
    svg {
        fill: white;
    }
}
:root.tiki4 footer {
    border-top: none;
}

.home footer {
    display: none;
}

section, section div {
    margin-block: var(--flow-spacing);
    //margin-trim: block;

    p { margin-block: 1lh;}
}


section.card {
    margin-block: var(--panel-padding);
    border-radius: var(--radius-4);
    background: var(--card-bkgd);
    padding: var(--panel-padding);

    // typography
    h2, h3 {
        line-height: 1.1;
        margin-bottom: var(--flow-spacing);
    }

    @media (width < 480px) {
        padding: 2ch 1ch;
        border-radius: var(--radius-3);
        margin-block: 2ch;
        margin-inline: 0;

        border-radius: 0;
    }

}
section:not(.card), .app__masthead {

    h1 img { margin-inline: auto; }
    @media (width < 480px) {
        padding: var(--panel-padding);
    }
}

dialog {
    padding: var(--section-spacing);
}

// ul {
//     padding: 0;
//     list-style: none;
// }

// li {
//     max-inline-size: none;  /* boilerplate override */
// }

figure {
    display: block;
    gap: 0;
}

@media screen and (max-width: 480px) {
    .nomobile {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #home__grid {
        display: block;
    }
    #newsFeedExcerpt {
        display: none;
    }
    // #flag {
    //     display: none;
    // }
    .mobile--only {
        display: block;
    }
    :root {
        --table-font-size: var(--font-size-fluid-00);
        --panel-padding: var(--size-1);
    }
}


.recipes {
    font-size: var(--font-size-0);    
    box-shadow: var(--inner-shadow-3);
    padding: 1em;
    border-radius: var(--radius-3);
    margin-inline: auto;
}
@media (width > 480px) {
    .recipes .columns {
        columns: 2; 
    }       
}

.collapsed {
    height: 25em;
    overflow-y: scroll;
    overscroll-behavior: contain;

    @media (width < 480px) {
        height: 20em;
    }
}
