
@use "abstract";
@use "layout";


// can control rem basis here
// html {
//     font-size: 16px;
// }


* {
	max-inline-size: 100%; // override the reset
}

h1 {
	font-size: var(--font-size-fluid-3);
	max-inline-size: 100%;
}
h2 {
	font-size: var(--font-size-fluid-2);
}
h3 {
	font-size: var(--font-size-fluid-1);
}

.translation {
	color: color-mix(in lch, orange, currentColor);
}

.theme--tm {
    background: var(--gradient-6);
}
.theme--ttol {
    background-image: url('/gfx/tiki4_bg_pattern.jpg');
}
.theme--app {
	--card-bkgd: white;
	background: var(--gradient-9);
}
.theme--tt {
	background: conic-gradient(from 0.5turn at center bottom, rgba(73, 116, 130, 0.2), rgba(155, 155, 155, 0.2)), url('/gfx/tiki4_bg_pattern.jpg');
	.appicon {
		filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.5));
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));
		font-size: var(--font-size-1);
		text-align: center;
	}
}
.theme--ssn {
	background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));
	.card {
		box-shadow: var(--shadow-3);
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));
		font-size: var(--font-size-1);
		text-align: center;
	}
}
.theme--modern {
	background: conic-gradient(from 0.5turn at center bottom, rgba(88,88,88,1.0), rgba(98,98,98, 1.0));
	color: white;
	.card {
		color: black;
	}
	.appicon {
		filter: drop-shadow(0px 0px 18px rgba(255, 255, 255, 0.5));
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));

		@media (width > 480px) {
			text-align: center;
		}

		h2:not(:first-child) {
			font-size: var(--font-size-4);
			margin-top: 1em;
		}
	}
}
.theme--martini {
	background: conic-gradient(from 0.5turn at center bottom, rgba(183,223,226,1.0), rgba(173,213,216, 1.0));
	main.container { padding-top: 0;}
	.app__masthead h1 img {
		max-width: 100%;
	}

	.app__masthead .appicon {
		top: 16px;
		left: 16px;
		filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));
		font-size: var(--font-size-1);
		@media (width > 480px) {
			text-align: center;
		}

		h2 { 			
			font-size: var(--font-size-4);
		}
		h2:not(:first-child) {
			margin-top: 1em;
		}
	}

}
.theme--hairball {
	background: conic-gradient(from 0.5turn at center bottom, rgba(245,234,208,1.0), rgba(235,224,198, 1.0));
	.app__masthead h1 img {
		max-width: 50%;
	}
	.appicon {
		filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(245,234,208,1.0), rgba(235,224,198, 1.0));
		font-size: var(--font-size-1);
		@media (width > 480px) {
			text-align: center;
		}

		h2 { 			
			font-size: var(--font-size-4);
		}
		h2:not(:first-child) {
			margin-top: 1em;
		}
	}

}
.theme--punch {
	background: conic-gradient(from 0.5turn at center bottom, rgba(245,234,208,1.0), rgba(235,224,198, 1.0));
	.appicon {
		filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(245,234,208,1.0), rgba(235,224,198, 1.0));
		font-size: var(--font-size-1);
		@media (width > 480px) {
			text-align: center;
		}

		h2 { 			
			font-size: var(--font-size-4);
		}
		h2:not(:first-child) {
			margin-top: 1em;
		}
	}

}
.theme--pdt {
	background: conic-gradient(from 0.5turn at center bottom, rgba(42,0,0,1.0), rgba(52,0,0, 1.0));
	.appicon {
		filter: drop-shadow(0px 0px 18px rgba(255, 255, 255, 0.5));
	}
	color: white;
	.card {
		color: black;
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));

		@media (width > 480px) {
			text-align: center;
		}

		h2:not(:first-child) {
			font-size: var(--font-size-4);
			margin-top: 1em;
		}
	}
}
.theme--gaz {
	background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));
	.card {
		box-shadow: var(--shadow-3);
	}
	.recipes {
		background: conic-gradient(from 0.5turn at center bottom, rgba(250,250,250,1.0), rgba(240,240,240, 1.0));

		@media (width > 480px) {
			text-align: center;
		}

		h2:not(:first-child) {
			font-size: var(--font-size-4);
			margin-top: 1em;
		}
	}
}


.button__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--flow-spacing);
}
a[role="button"] {
	color: white;
	background: var(--indigo-9);
	border-radius: var(--radius-2);
	// box-shadow: var(--shadow-2),0 1px var(--surface-3),0 0 0 0 hsl(var(--gray-5-hsl)/25%);
	box-shadow: var(--shadow-2);
	align-items: center;
	display: inline-flex;
	font-size: var(--font-size-1);
    font-weight: var(--font-weight-7);
    justify-content: center;
    padding-block: .75ch;
    padding-inline: var(--size-relative-6);
    text-align: center;
    text-shadow: var(--_ink-shadow);
    text-decoration: none;
    cursor: pointer;


    &.secondary {
    	background: var(--stone-9);
    }

    &:hover {
    	outline: 3px solid var(--link-color);
    	outline-offset: 0.25ch;
    }
}


.tilt--ccw {
	margin-bottom: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	@media (width >= 675px) {
		width: 60%;
		transform: perspective(400px) rotateY(8deg);
		margin: 2em 1em 2em 2em;
		margin: 4ch 1ch 4ch 4ch;
	}
}
.tilt--cw {
	margin-bottom: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	@media (width >= 675px) {
		width: 60%;
		transform: perspective(400px) rotateY(-8deg);
		margin: 2em 1em 2em 2em;
		margin: 4ch 4ch 4ch 1ch;
	}
}
.photo--40 {

	border-radius: 18px;
	margin-bottom: 1em;

	@media (width >= 675px) {
		width: 40%;
		height: auto;

	}
}
.photo--portrait {
	border-radius: 18px;	
}


.app__masthead {
	position: relative;
	display: block;
	h1 { 
		text-align: center; 
		max-inline-size: 100%; 

		@media (width > 480px) {

			img {
				margin-inline: auto;
				max-width: 66%;
			}

		}
	}
	.appicon {
		position: absolute;
		z-index: 99;
		top: -16px;

		max-width: 152px;
	}

	@media (width < 800px) {
		display: block;
		
		.appicon {
			display: none;
		}

	}
}

#hero-totaltiki, .app-hero {
	display: block;
	margin: 1em auto;
	width: 100%;
	max-width: 640px;

	@media (width >= 675px) {
		width: 60vw;
	}

}


.review {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-top: --pico-block-spacing-vertical;
	margin-bottom: --pico-block-spacing-vertical;
	.stars {
		color: orange;
	}
	p {
		font-size: 0.9rem;
		line-height: 1.2;		
	}
}

.flex--group {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 50%;
		}
	}

}


#card-ttol-nextgen {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 35%;
		}
	}
}

#card-ttol-entertain, #card-tm-entertain, #card-ttol-inventory	 {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 35%;
		}
	}
}

#card-tm-privaterecipes {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 35%;
		}
	}
}

#card-tm-rescale {

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--flow-spacing);
	align-items: center;

	figure {
		display: grid;
	}
	img {
		border-top-left-radius: var(--radius-3);
		border-top-right-radius: var(--radius-3);
	}

	@media (width < 480px) {
		grid-template-columns: 1fr;
	}
}


#card-tm-library {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--flow-spacing);

	.stats {
		display: grid;
		gap: var(--flow-spacing);
		place-items: center;

		font-size: var(--font-size-fluid-2);
		font-weight: var(--font-weight-9);
	}

	@media (width < 480px) {
		grid-template-columns: 1fr;
	}
}

#card-totaltiki-content {

	img {

		border-radius: 18px;
		margin-bottom: 1em;

		@media (width >= 675px) {
			width: 40%;
			height: auto;

		}
	}

}
#card-shakenstirred-general {
	@media (width < 675px) {
		img { width: 40%; margin-inline: auto; }
	}
}
#card-gaz-general {
	img { max-width: 50%; }
	@media (width < 675px) {
		img { width: 40%; margin-inline: auto; }
	}
}
#card-database {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 35%;
		}
	}

	img {

		@media (width >= 675px) {
			height: 80vh;
		}
	}
}

#card-ingredients {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 35%;
		}
	}

	img {

		margin-bottom: 1em;

		@media (width >= 675px) {
			width: 40%;
		}
	}
}

#card-apptools {

	@media (width >= 675px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		hgroup {
			max-width: 30%;
		}
	}

	img {

		@media (width >= 675px) {
			height: 80vh;
		}
	}
}

#card-appinterop {

	@media (width >= 675px) {
		p { max-width: 30em;}
	}

	img {

		@media (width >= 675px) {
			width: 600px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}
.appgrid {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 0;
	padding: 0;

	li {
		list-style: none;
		padding: 0.5em 0.5em;
		width: 33%;

		line-height: 1;
		font-size: 0.8rem;
		text-align: left;

		@media (width >= 675px) {
			width: 128px;
		}

		text-align: center;

		a {
			text-decoration: none;
			color: currentColor;
		}
	}

	li img {
		width:80px;
		height: auto;
		display: block;
		margin-bottom: var(--flow-spacing);
		margin-inline: auto;

		@media (width >= 675px) {
			width: 128px;
		}
	}
}

.portrait__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2ch;


	@media (width < 600px) {
		grid-template-columns: 1fr 1fr;
	}
}



.home {
	background-image: var(--gradient-26);
	h3 { margin-block: 1em; }
}
#flag { inline-size: 100%; height: auto; transition: color 3s linear;}
.homeonlinegrid {
	display: grid;
	gap: 4ch;
	margin-block: 4ch;

	div {
		max-width: 480px;

		border-radius: var(--radius-3);
		background: rgba(255,255,255,0.6);
		padding: 2ch;
	}
	img { 
		// filter: drop-shadow(0px 0px 2px rgb(255,255,255)); 
	} 
}
.homeappgrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 0;
	padding: 0;
	gap: 2ch;
	div {
		list-style: none;
		padding: 0.5em 0.5em;
		width: 33%;

		line-height: 1;
		font-size: 0.8rem;
		text-align: center;

		@media (width >= 675px) {
			width: 128px;
		}

		a {
			text-decoration: none;
		}
	}

	a {
		text-decoration: none;
		color: currentColor;
	}

	div img {
		width:80px;
		height: auto;
		display: block;
		margin-bottom: var(--flow-spacing);

		@media (width >= 675px) {
			width: 128px;
		}
	}
}


.features-grid {
	--grid-column-gap: 25px;
	display: grid;
	grid-template-columns: 5fr repeat(4,minmax(50px,1fr));
	grid-template-rows: 1fr auto repeat(9,minmax(50px,max-content));
	grid-row-gap: 10px;
	grid-column-gap: var(--grid-column-gap);
	margin-bottom: 2em;

	h3 {
		grid-column-start: 1;
		grid-column-end: 6;
		font-size: 120%;
		font-weight: bold;
		margin-top: 1.5em;
		margin-bottom: 0;
	}

	.feature-compatibility {
			grid-column-start: 2;
			grid-column-end: 6;

			display: grid;
			grid-template-columns: repeat(4,minmax(0,1fr));
			grid-column-gap: var(--grid-column-gap);



	}

	.feature {
		display: flex;
		width: 100%;
		justify-content: left;
		align-items: center;
		text-align: left;
	}

	.compatibility {
		// display: flex;
		// width: 100%;
		// justify-content: center;
		// align-items: center;
		// align-content: center;
		place-self: center;
		text-align: center;
	}


	.green {
		color: white;
		background-color: var(--green-10);
		border-radius: var(--radius-round);
		padding: 0 var(--flow-spacing);
	}

	.gray {
		color: var(--gray-6);
	}

	.quantity {
		font-weight: bold;
	}


	@media only screen and (max-width:675px) {

		--grid-column-gap: 5px;

		.feature {
			grid-column-start: 1;
			grid-column-end: 6;

		}

		.feature-compatibility {
			grid-column-start: 1;
			grid-column-end: 6;
			padding-bottom: 0.5em;
			border-bottom: 1px solid #d2d2d2;
		}

		.compress {
			font-size: 80%;
		}


	}

}


.compatibility {

}

.videoWrapper {
	margin-block: var(--flow-spacing);
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#tmelogotype {
	margin-inline: auto;
}